@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}
.foods {
  padding: 100px 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &--subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
  }
  &--title{
    font-size: 31.25px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #150C01;
    margin: 9px 0 25px;
  }
  &--desc{
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #150C01;
    opacity: 0.7;
    margin-bottom: 50px;
  }
  &--menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &--box{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 75px 10px 10px 10px;
    padding: 0 25px 25px;
  }
  &--contain{
    display: flex;
    justify-content: space-between;
    margin: 7px 25px 20px;
  }
  &--text{
    font-size: 25px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #150C01;
  }
  &--price{
    font-size: 25px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #150C01;
  }
  &--copy{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #DC780B;
  }
  &--svg{
    display: flex;
    justify-content: space-between;

  }
}